# Data Science Tools and Ecosystem 
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- python
- javascript
- Randas.

### Some of the popular languages that Data Scientists use are:
- python
- javascript
- R
### Some of the commonly used libraries used by Data Scientists include:
- scipy
- torch
- pandas

| Data Science Tools |
|------------------|
| vscode |
| google colab|
| jupyter lab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
def min_to_hrs(min:int):
    return min/60

min_to_hrs(200)

3.3333333333333335

## Author
Dylanon Wichiramala